p Hello. My name is Erik Ebsen. I'm a Christian, a husband, and a father of three. I work as a web developer for #[a(href="http://www.sdstate.edu") South Dakota State]. This website demonstrates a few of the projects, both personal and professional, that I've built or been a part of building.
p Show #[span(id="show-professional" class="show-projects") professional] projects, #[span(id="show-personal" class="show-projects") personal] projects, or #[span(id="show-all" class="show-projects") all] projects.
p Click an image to view the site. Projects without a screenshot are not yet published.
//- h4 Projects
//- nav
  ul
    each project in projects
      li: a(href="##{project.description}") #{project.title}
each project in projects
  div(id="#{project.description}" class="project #{project.type} animated")
    .screenshots!= partial("_linked-image", {project: project})
    h2 #{project.title}
    //- span.type #{project.type}
    != partial("_pages/" + project.description)
