p Hello. My name is Erik Ebsen. The following is a collection of things I've built or been a part of building, both for my job as a web developer for South Dakota State University and personal side projects on my own time.
p Filter projects by professional or personal.
p Click an image to view the full site.

each project in projects
  .project
    .large Large
    .small Small
    .small Small
    h2= project.title
    != partial("_partials/" + project.description)
    span= project.type
    //- .screenshot.mobile
    //- img.screenshot.mobile(alt=project.url src="../images/" + project.description + "-mobile.png")
    //- |Mobile
    //- .screenshot.desktop
      img(alt=project.url src="../images/" + project.description + "-desktop.png")
      //- |Desktop
    //- img.mobile(alt=project.url src="../images/" + project.description + "-mobile.png")
    //- img.desktop(alt=project.url src="../images/" + project.description + "-desktop.png")
