p Hello. My name is Erik Ebsen. The following is a collection of things I've built or been a part of building, both for my job as a web developer for South Dakota State University and personal side projects on my own time.
p Show #[span(id="show-professional" class="show-projects") professional projects], #[span(id="show-personal" class="show-projects") personal projects], or #[span(id="show-all" class="show-projects") all projects].
p Click an image to view the site.

each project in projects
  div(id="#{project.description}" class="project #{project.type}")
    .screenshots!= partial("_linked-image", {project: project})
    h2 #{project.title}
    span.type #{project.type}
    != partial("_pages/" + project.description)
